<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Slayer Game</title>
    <!-- BootStrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- BootStrap Scripts -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div
          class="container-fuild w-100 d-flex flex-row justify-content-center"
        >
          <a href="index.html" class="navbar-brand">
            <img
              src="assets/img/nav-logo.svg"
              alt="Orch like creature icon"
              class="img-fluid"
            />
          </a>
        </div>
      </nav>
    </header>
    <main id="main">
      <div>
        <div class="container position-relative">
          <!-- Game Window Wrapper -->
          <div
            class="game-window-wrapper mt-5 d-flex flex-column flex-md-row align-items-center justify-content-md-center mx-auto"
          >
            <!-- Enemy View -->
            <div class="enemy-field mt-2 mt-lg-0">
              <!-- ThreeJS Mount Canvas:Enemy -->
              <div class="char-animation">
                <img
                  src="assets/img/ironhordedestroyersm.jpg"
                  alt=""
                  class="img-fluid"
                />
                <!-- <canvas id="enemy"></canvas> -->
              </div>
              <!-- Enemy Health Bar -->
              <div class="health-bar-wrapper">
                <p class="health-label fw-bolder text-white text-center mb-0">
                  <img
                    src="assets/img/health-icon.svg"
                    alt="Health icon"
                    class="me-2"
                  />
                  Enemy Health
                </p>
                <div class="healthbar">
                  <div class="healthbar-value" :style="monsterBarStyle"></div>
                </div>
              </div>
            </div>
            <!-- Client View -->
            <div class="client-field mt-2 mt-lg-0">
              <!-- ThreeJS Mount Canvas:Client -->
              <div class="char-animation">
                <img src="assets/img/player.jpg" alt="" class="img-fluid" />
                <!-- <canvas id="client"></canvas> -->
              </div>
              <!-- Client Health Bar -->
              <div class="health-bar-wrapper">
                <p class="health-label fw-bolder text-white text-center mb-0">
                  <img
                    src="assets/img/health-icon.svg"
                    alt="Health icon"
                    class="me-2"
                  />
                  Your Health
                </p>
                <div class="healthbar">
                  <div class="healthbar-value" :style="playerBarStyle"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Button Section -->
          <div
            class="button-wrapper mx-auto mt-3 d-none d-md-flex justify-content-evenly flex-wrap"
            v-if="!winner"
          >
            <button
              class="btn btn-primary fw-bolder px-5 py-2 d-flex align-items-center"
              @click="attackMonster"
            >
              <img
                src="assets/img/attack-icon.svg"
                alt="Sword icon"
                class="me-2"
              />
              Attack
            </button>
            <button
              :disabled="specialButtonStatus"
              @click="specialAttack"
              class="btn btn-primary fw-bolder px-4 py-2 d-flex align-items-center"
            >
              <img
                src="assets/img/special-attack-icon.svg"
                alt="Special sword icon"
                class="me-2"
              />
              Special Attack
            </button>
            <button
              @click="healPlayer"
              class="btn btn-primary fw-bolder px-5 py-2 d-flex align-items-center"
            >
              <img
                src="assets/img/heal-action-icon.svg"
                alt="Heal icon"
                class="me-2"
              />
              Heal
            </button>
            <button
              class="btn btn-primary fw-bolder px-5 py-2 d-flex align-items-center"
              @click="surrender"
            >
              <img
                src="assets/img/surrender-icon.svg"
                alt="Surrender icon"
                class="me-2"
              />
              Surrender
            </button>
          </div>
          <!-- Mobile Button Section -->
          <div
            class="mobile-button-wrapper d-flex justify-content-evenly d-md-none fixed-bottom mb-3 w-100"
            v-if="!winner"
          >
            <button class="btn btn-primary btn-lg" @click="attackMonster">
              <img src="assets/img/attack-icon.svg" alt="Sword icon" />
            </button>
            <button
              class="btn btn-primary btn-lg"
              :disabled="specialButtonStatus"
              @click="specialAttack"
            >
              <img src="assets/img/special-attack-icon.svg" alt="Sword icon" />
            </button>
            <button class="btn btn-primary btn-lg" @click="healPlayer">
              <img src="assets/img/heal-action-icon.svg" alt="Heal icon" />
            </button>
            <button class="btn btn-primary btn-lg" @click="surrender">
              <img src="assets/img/surrender-icon.svg" alt="Flag icon" />
            </button>
          </div>
          <!-- Battle Log Section -->
          <div class="battle-log-wrapper">
            <div class="battle-log">
              <p class="fw-bolder fs-4 text-center text-pink mt-2">
                Battle Log
              </p>
              <ul class="list-unstyled">
                <li v-for="logMessage in logMessages" class="text-center">
                  <p>
                    <span
                      :class="['fw-bolder' ,logMessage.actionBy === 'Player' ? 'text-pink' : 'text-red']"
                    >
                      {{logMessage.actionBy}}</span
                    >,
                    <span v-if="logMessage.actionType === 'attacks'"
                      >attacks and deals</span
                    >
                    <span v-else-if="logMessage.actionType === 'specialAttack'"
                      >special attacks and deals
                    </span>
                    <span v-else="logMessage.actionType === 'heals'"
                      >heals for</span
                    >
                    <span
                      v-if="logMessage.actionType === 'attacks' || 'specialAttack'"
                      class="text-darkblue fw-bolder"
                    >
                      {{' ' + logMessage.actionValue}} damage</span
                    >
                    <span
                      v-if="logMessage.actionType === 'heals'"
                      class="text-darkblue fw-bolder"
                    >
                      {{' ' + logMessage.actionValue}} HP</span
                    >
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <!-- Winner message -->
          <div
            class="position-fixed winner-message d-flex flex-column justify-content-center align-items-center"
            v-if="winner"
          >
            <p class="fs-4 fw-bold">Game Over!</p>
            <p v-if="winner === 'draw'" class="fw-bolder">It's a draw</p>
            <p v-else-if="winner === 'player'" class="fw-bolder">You won!</p>
            <p v-else="winner === 'monster'" class="fw-bolder">You lost!</p>
            <button @click="closeMessage" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>
    </main>
    <!-- Main JavaScript -->
    <script src="assets/script/main.js"></script>
  </body>
</html>
