body {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(225deg, #ef38c7 0%, #11998e 100%) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main > div {
  flex-grow: 1;
  display: flex;
}

.text-pink {
  color: #ef38c7;
}

.text-darkblue {
  color: #00386c;
}

.text-red {
  color: #ff0000;
}

.enemy-field,
.client-field {
  width: 100%;
  height: 100%;
  min-width: 255px;
  min-height: 344px;
  position: relative;
}

div.health-bar-wrapper {
  background-color: rgba(4, 9, 33, 0.8);
  width: 100%;
  height: 100%;
  max-height: 73px;
  max-width: 100%;
}

.enemy-field > .health-bar-wrapper,
.client-field > .health-bar-wrapper {
  position: absolute;
  bottom: 0;
}

canvas {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.char-animation {
  height: 100%;
}

.game-window-wrapper {
  padding-bottom: 264px;
}

@media (min-width: 768px) {
  .enemy-field > .health-bar-wrapper {
    border-radius: 15px 0px 0px 0px;
  }

  .client-field > .health-bar-wrapper {
    border-radius: 0px 15px 0px 0px;
  }

  .game-window-wrapper {
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
    width: 510px;
    height: 344px;
    padding-bottom: 0;
  }

  div.health-bar-wrapper {
    max-height: 73px;
    max-width: 255px;
  }

  /* Btn Section */
  .button-wrapper {
    max-width: 540px;
    gap: 30px;
    padding-bottom: 264px;
  }

  body::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 400px;
    width: 500px;
    background: url("../img/enemy-overlay-img.png") no-repeat;
    background-size: cover;
    z-index: 1;
  }

  body::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    height: 400px;
    width: 500px;
    background: url("../img/player-overlay-img.png") no-repeat;
    background-size: cover;
    z-index: 1;
  }
}

.btn-primary {
  background-color: #00386c;
  border-color: #00386c;
}

.battle-log-wrapper {
  background-color: #ffffff;
  display: flex;
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 0;
  left: 50%;
  max-height: 248px;
  max-width: 510px;
  height: 100%;
  width: 100%;
  border: 2px solid #ef38c7;
  border-radius: 15px 15px 0 0;
  z-index: 3;
}

.battle-log {
  flex-grow: 1;
  overflow-y: auto;
}

.battle-log > * {
  width: 100%;
}

.health-bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.healthbar {
  height: 29px;
  border: 1px solid #575757;
  background: #fde5e5;
  max-width: 229px;
  width: 100%;
  margin-top: 13px;
  margin-bottom: 9px;
}

.health-label {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.healthbar-value {
  background-color: #00a876;
  width: 100%;
  height: 100%;
}

.winner-message {
  transform: translate(-50%, -20%);
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  border: 1px solid #575757;
  border-radius: 15px;
}
